@model IEnumerable<Assignment2.DAL.Models.Submission>

@{
    ViewData["Title"] = "ShowSubmissions";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<h1>ShowSubmissions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaboratoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaboratoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.ActionLink("Grade", "GradeSubmission", new { id=item.SubmissionId})
            </td>
        </tr>
}
    </tbody>
</table>
