@model IEnumerable<Assignment2.DAL.Models.Subject>

@{
    ViewData["Title"] = "ShowSubjects";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h1>ShowSubjects</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Laboratories", "ShowLaboratories", new { id=item.SubjectId})
            </td>
        </tr>
}
    </tbody>
</table>
